@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF Rounded";
  src: url("/fonts/SF-Pro-Rounded-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Rounded";
  src: url("/fonts/SF-Pro-Rounded-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* globals.css */

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0fff4;
}

.header {
  background: linear-gradient(135deg, #e0f7e9 0%, #f0fff4 100%);
  padding: 2rem 1rem;
  text-align: center;
}

.section {
  padding: 4rem 1rem;
  text-align: center;
}

.curve {
  margin-bottom: -1px;
}

.curve svg {
  display: block;
  width: 100%;
  height: 3rem;
}

.shadow-box {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.shadow-box:hover {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2), 0 8px 10px rgba(0, 0, 0, 0.2);
}

.glow-text {
  color: #ff5252;
  text-shadow: 0 0 10px rgba(255, 82, 82, 0.7), 0 0 20px rgba(255, 82, 82, 0.7);
}

.btn {
  background-color: #ff5252;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 0.375rem;
  font-size: 1.125rem;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btn:hover {
  background-color: #ff1744;
  transform: translateY(-2px);
}

.bg-gradient-animated {
  background: linear-gradient(
    135deg,
    rgba(238, 174, 202, 0.5),
    rgba(148, 187, 233, 0.5)
  );
  position: relative;
  overflow: hidden;
}

.bg-gradient-animated::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: repeating-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.03),
    rgba(255, 255, 255, 0.03) 1px,
    transparent 1px,
    transparent 3px
  );
  filter: brightness(0.9);
  z-index: 1;
  pointer-events: none;
}

.bg-gradient-animated {
  background: linear-gradient(
    135deg,
    rgba(238, 174, 202, 0.5),
    rgba(148, 187, 233, 0.5)
  );
  position: relative;
  overflow: hidden;
}

.bg-gradient-animated::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: repeating-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.03),
    rgba(255, 255, 255, 0.03) 1px,
    transparent 1px,
    transparent 3px
  );
  filter: brightness(0.9);
  z-index: 1;
  pointer-events: none;
}
